// @import "catppuccin-latte"
// @import "catppuccin-frappe"
// @import "catppuccin-macchiato"
@import "catppuccin-mocha"

* {
  selected-active-foreground:  @background;
  lightfg:                     @text;
  separatorcolor:              @foreground;
  urgent-foreground:           @red;
  alternate-urgent-background: @lightbg;
  lightbg:                     @mantle;
  background-color:            transparent;
  border-color:                @foreground;
  normal-background:           @background;
  selected-urgent-background:  @red;
  alternate-active-background: @lightbg;
  spacing:                     2;
  alternate-normal-foreground: @foreground;
  urgent-background:           @background;
  selected-normal-foreground:  @lightbg;
  active-foreground:           @lavender;
  background:                  @base;
  selected-active-background:  @lavender;
  active-background:           @background;
  selected-normal-background:  @lightfg;
  alternate-normal-background: @lightbg;
  foreground:                  @text;
  selected-urgent-foreground:  @background;
  normal-foreground:           @foreground;
  alternate-urgent-foreground: @red;
  alternate-active-foreground: @lavender;

  bg-col: @background;
  bg-col-light: @lightbg;
  border-col: @border-color;
  selected-col: @selected-active-foreground;
  fg-col: @text;
  fg-col2: @text;
  grey: #646a76;
  width: 960;
}

configuration{
    modi: "run,drun,window";
    lines: 7;
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "st";
    drun-display-format: "{icon} {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󱂬  Window";
    /* display-Network: " 󰤨  Network"; */
    sidebar-mode: true;
    sorting-method: "fzf";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    height: 480px;
    border: 2px;
    border-radius: 12px;
    border-color: @border-col;
    background-color: @bg-col;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 8px;
    padding: 2px;
}

prompt {
    background-color: @lavender;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 8px;
    margin: 20px 0px 0px 20px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 20px 0px 0px 10px;
    text-color: @fg-col;
    background-color: @bg-col;
}

listview {
    border: 0px 0px 0px;
    border-radius: 8px;
    padding: 6px 0px 0px;
    margin: 10px 0px 0px 20px;
    columns: 2;
    background-color: @bg-col;
}

element {
    padding: 5px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: @bg-col;
    text-color: @fg-col  ;
}

element-icon {
    size: 26px;
}

element selected {
    background-color:  @selected-col ;
    text-color: @fg-col2  ;
}

mode-switcher {
    spacing: 0;
  }

button {
    padding: 10px;
    background-color: @bg-col-light;
    text-color: @grey;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @bg-col;
  text-color: @lavender;
}
