move_right  h
move_down   j
move_up     k
move_left   l

next_page      J
previous_page  K
goto_begining  gg
goto_end       G

screen_up    <C-u>
screen_down  <C-d>

zoom_in   +
zoom_out  -

fit_to_page_width        w
fit_to_page_width_smart  W

goto_toc          t
next_chapter      gc
previous_chapter  gC

command  :
search   /

open_document                             o
open_prev_doc                             O
open_document_embedded_from_current_path  <C-O>

add_bookmark    <C-b>
goto_bookmark   gb
add_highlight   <C-h>
goto_highlight  gh

prev_state  <C-o>
next_state  <C-i>
