zoom_inc_factor  1.1

vertical_move_amount    1.0
horizontal_move_amount  1.0

ruler_mode  0.8

startup_commands  toggle_custom_color;fit_to_page_width

# catppuccin mocha darker
background_color            #0c0912
dark_mode_background_color  #0c0912
custom_background_color     #0c0912
custom_text_color           #cdd6f4

font_size             16
status_bar_font_size  16
ui_font               JetBrainsMono Nerd Font

page_separator_color    #181825
search_highlight_color  #f9e2af
status_bar_color        #11111b
status_bar_text_color   #cdd6f4

search_url_g  https://www.google.com/search?q=
search_url_d  https://duckduckgo.com/?q=

middle_click_search_engine  d
